{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Distributed Search Engine Test</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'search/css/style.css' %}">
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript">
            // $.ajaxSetup({
            //     data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            // });
        </script>
    </head>
    <body style="background: rgb(255, 255, 255);">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="ntp-contents">
            <div id="logo" title="Distributed Search"></div>
            <div id="fakebox">
                <form action="{% url 'search:main' %}" method="get">
                    <div class="input-group">
                        {{ form.requery_text }}
                        <span class="input-group-btn">
                            <input id="search-button" class="btn btn-default" type="submit" value="Search"/>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <script>
            // $("#search-button").on('click', function(){
            //     var query_text = $('#query').val();
            //     $.ajax({
            //         url: '/search/',
            //         data: {
            //             'q': query_text
            //         },
            //         success: function(data) {
            //             console.log(data);
            //             if (data.success == "1") {
            //                 console.log(data.url);
            //                 window.location(data.url);
            //             } else {
            //                 console.log(data.url);
            //                 window.location('/search/');
            //             }
            //         }
            //     });
            // });
        </script>
    </body>
</html>